UTF8-enabled email addresses support

1. Using [RFC822](http://tools.ietf.org/html/rfc822), [RFC2822](http://tools.ietf.org/html/rfc2822) headers themselves have been limited to ASCII, this means addresses with + or ' should be supported by any current MTA doing SMTP or ESMTP.
2. The textual part of the headers is being supported by [RFC2047](http://tools.ietf.org/html/rfc2047). This makes it possible to have `Jøhn Døe <john.doe@example.com>` as an email address. This applies to From/To/Subject parts, but only the textual aspect, not the header itself.
3. For international domain names [RFC5890](http://tools.ietf.org/html/rfc5890) and [RFC5891](http://tools.ietf.org/html/rfc5891) come into play. This allows domains to be written in another script to be converted to ASCII-safe IDNA (commonly known as Punycode), i.e. `日本.jp` (as U-label; how the user sees it) becomes `xn--wgv71a.jp` (as A-label; how the system interprets it). So this means that email to email address `ichiro.yamamoto@日本.jp` (as the user enters it into your system) will be sent email to `ichiro.yamamoto@xn--wgv71a.jp`. Unless the entire system supports UTF-8 DNS, then everything is done using full UTF-8 strings.
4. For the case where the headers themselves allow accents or other scripts the intermediate MTAs need to support SMTPTUF8 ([RFC6531](http://tools.ietf.org/html/rfc6531)). For the MUAs [RFC6532](http://tools.ietf.org/html/rfc6532) needs to be implemented. This allows the possibility of having an email address such as `山本一呂@日本.jp`. As far as I understand it, this will be changed to either `山本一呂@xn--wgv71a.jp` for transport or kept as is depending on the domain registration.

1 and 2 are active now on the Internet.
3 depends on the availability of an IDNA-compliant DNS resolver.
4 is future music, but Google Mail already supports it (http://googleblog.blogspot.be/2014/08/a-first-step-toward-more-global-email.html) and Postfix has it in development for 2.12 (http://www.postfix.org/SMTPUTF8_README.html), so it's sort of already here.

I left aside the issue of [IDN ccTLDs](http://en.wikipedia.org/wiki/Internationalized_country_code_top-level_domain), but it follows the same rules as domain names.
